* {
  box-sizing: border-box;
}

body {
  height: 200vh;
  width: 100%;
  margin: 0;
  padding-top: 3em;
  background: #ad7fa8;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  height: 3em;
  width: calc(100vw - 4em);
  padding: 10px 10px 10px;
  margin: 0 2em;
  border-radius: 0 0 20px 20px;
  background: rgba(37, 37, 37, 0.8);
  display: flex;
  justify-content: space-between;
  transition: all 1s;
  z-index: 5;
}

nav.active, nav.inactive:hover {
  transform: translateY(0);
}

nav.inactive {
  transform: translateY(-2em);
}

nav>h2 {
  font-family: 'Cormorant Garamond', serif;
  color: white;
  margin: -7px 0 0 0;
}

#headshot {
  background:
      url(headshot.jpg) no-repeat, url(gradient.png) repeat;
  background-size:
      auto 110%, auto 110%;
  background-position-x:
      -100px, 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 1;
  mix-blend-mode: multiply;
  will-change: filter, transform;
}

#overlay {
/*   transform: translateZ(0);  
  z-index: 0; */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
/*   mix-blend-mode: lighten; */
  top: 0;
  left: 0;
}

/* #overlay::before {
  background-color: purple;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
} */
/* #overlay::after {
  background-color: red;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  top: 0;
  left: 0;
} */

#hero {
  transform: translateZ(0);
  z-index: 2;
  margin-top: 100vh;
  background: white;
  height: 100vh;
}



