* {
  box-sizing: border-box;
/*   color: rgb(35, 26, 16); */
}

body {
  width: 100%;
  margin: 0;
  padding-top: 3em;
  background: rgb(130, 58, 111);
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  height: 3em;
  /*   padding: 10px 10px 10px; */
  width: 100vw;
  background: rgba(35, 26, 16, 0.8);
  display: flex;
  justify-content: space-between;
  transition: all 1s;
  z-index: 5;
}

nav.active,
nav.inactive:hover {
  transform: translateY(0);
}

nav.inactive {
  transform: translateY(-2em);
}

nav > h2 {
  margin: 3px 0 0 15px;
}

nav h2,
nav h3 {
  font-family: "Cormorant Garamond", serif;
  color: #ddb160;
}

nav > div {
  display: flex;
}
nav button {
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: #ddb160;
  height: 100%;
  width: 8em;
  transition: all 0.3s;
}

nav button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.2);
}

nav button:active {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset -1px 0px 5px rgba(0, 0, 0, 0.5),
    inset 1px 0px 5px rgba(0, 0, 0, 0.5);
}

a.current > button,
a.current > button:hover,
a.current > button:active {
  background: rgba(0, 0, 0, 0.4);
  /*   box-shadow: inset 1px 0px 3px rgba(0,0,0, 0); */
  box-shadow: inset -1px 0px 3px rgba(0, 0, 0, 0.3),
    inset 1px 0px 3px rgba(0, 0, 0, 0.3);
}

nav div {
  color: #ddb160;
}

#headshot {
  background: url(images/headshot.jpg) no-repeat,
    url(images/gradient.png) repeat;
  background-size: auto 110%, auto 110%;
  background-position-x: -100px, 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 1;
  mix-blend-mode: multiply;
  will-change: filter, transform;
}

#underlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#hero {
  transform: translateZ(0);
  z-index: 2;
  margin-top: 100vh;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -3px 6px, rgba(0, 0, 0, 0.4) 0px -3px 4px;
  background: rgb(225, 223, 216);
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-item {
  width: 20em;
  height: 15em;
  margin: 1em 0;
  transition: all 0.5s;
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 0px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.item-overlay {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  visibility: hidden;
  color: white;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-overlay>h2 {
  margin: 0;
}

.item-overlay>a {
  color: white;
}
.item-overlay>a:hover {
  font-style: italic;
  text-decoration: underline;
}

.portfolio-item:hover>.item-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-position-y: 10em;
  visibility: visible;
}




